.star {
  margin-left: 0.1rem;
  margin-top: 0.2rem;
}
.star {
  -webkit-filter: drop-shadow(0px 0px 1px gray);
          filter: drop-shadow(0px 0px 1px gray);
}
@media (max-width: 550px) {
  .star {
    height: 1rem;
  }
}