// responsive a faire
.gallery {
	padding: 1rem;
	padding-top: 2.5rem;
	// padding-bottom: 4rem;
	gap: 2rem;

	margin-top: 3rem;
	background: #f7f7f7;
	width: 100%;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@media (max-width: 550px) {
		margin-top: 1.5rem;
	}

	@media (max-width: 550px) {
		background: white;
		padding: 0;
	}
}
